{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paramvaluetype</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paramValueType.id }}</td>
            </tr>
            <tr>
                <th>Monitoring</th>
                <td>{{ paramValueType.monitoring }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('param-value-type_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('param-value-type_edit', { 'id': paramValueType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
