<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('/libs/bootstrap/bootstrap_3_3_7/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('/libs/bootstrap/bootstrap_3_3_7/css/bootstrap-theme.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('/layouts/base.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('/libs/bootstrap/bootstrap-rtl-master/dist/css/bootstrap-rtl.min.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {# Container has one fixed width for each screen size#}
        <div class="container">
            <div class="col-sm-3" id="sideBar">
                <ul>
                    <li>
                        <a href="#">کاربران</a>
                        <ul>
                            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <li><a href="{{ path('login') }}">ورود</a></li>
                                {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                                <li><a href="{{ path('logout') }}">خروج</a></li>
                                {% endif %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('user_index') }}">لیست کاربران</a>
                                <li>
                                <li>
                                    <a href="#">دسترسی</a>
                                    <ul>
                                        <li>
                                            <a href="{{ path('role_index') }}">لیست</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="#">اشیا</a>
                            <ul>
                                <li>
                                    <a href="#"پارامترها></a>
                                    <ul>
                                        <li>
                                            <a href="{{path('param_input_langs_list')}}">ورودی</a>
                                            <ul>
                                                <li>
                                                    <a href="{{path('param_input_langs_list')}}">زبان ها</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-sm-9" id="mainContent">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('/libs/jquery/jquery_2_2_4.js') }}" type="text/javascript"></script>
            <script src="{{ asset('/libs/bootstrap/bootstrap_3_3_7/js/bootstrap.js') }}" type="text/javascript"></script>
        {% endblock %}
    </div>
</body>
</html>