<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('/libs/bootstrap/bootstrap_3_3_7/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('/libs/bootstrap/bootstrap_3_3_7/css/bootstrap-theme.min.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {# Container has one fixed width for each screen size#}
        <div class="container">
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('/libs/bootstrap/bootstrap_3_3_7/js/bootstrap.js') }}" type="text/javascript"></script>
            <script src="{{ asset('/libs/jquery/jquery_2_2_4.js') }}" type="text/javascript"></script>
        {% endblock %}
    </div>
</body>
</html>