<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('/libs/bootstrap/bootstrap_3_3_7/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('/libs/bootstrap/bootstrap_3_3_7/css/bootstrap-theme.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('/layouts/base.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('/libs/bootstrap/bootstrap-rtl-master/dist/css/bootstrap-rtl.min.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3" id="sideBar">
                    {% include 'side.html.twig' %}
                </div>
                <div class="col-sm-9" id="mainContent">
                {% block body %}{% endblock %}
                </div>
            </div>
        {% block javascripts %}
            <script src="{{ asset('/libs/jquery/jquery_2_2_4.js') }}" type="text/javascript"></script>
            <script src="{{ asset('/libs/bootstrap/bootstrap_3_3_7/js/bootstrap.js') }}" type="text/javascript"></script>
        {% endblock %}
    </div>
</body>
</html>