<ul>
    <li>
        <a href="#">Users</a>
        <ul>
            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li>
                    <a href="{{ path('login') }}">Login</a>
                </li>
            {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                <li>
                    <a href="{{ path('logout') }}">Logout</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('user_index') }}">List</a>
                </li>
                <li>
                    <a href="#">Roles</a>
                    <ul>
                        <li>
                            <a href="{{ path('role_index') }}">List</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </li>
    <li>
        <a href="#">Concepts</a>
        <ul>
            <li>
                <a href="{{path('concept_category_show_tree')}}">Tree</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="#">Parameters</a>
                    <ul>
                        <li>
                            <a href="{{path('param_input_langs_list')}}">Inputs</a>
                            <ul>
                                <li>
                                    <a href="{{path('param_input_type_index')}}">Types</a>
                                </li>
                                <li>
                                    <a href="{{path('param_input_langs_list')}}">Languages</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </li>
    <li>
        <a href="#">Location</a>
        <ul>
            <li>
                <a href="{{path('location_tree_show')}}">Tree</a>
            </li>
        </ul>
    </li>
</ul>
