{% extends 'base.html.twig' %}

{% block body %}
    <h1>Concept</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ concept.id }}</td>
            </tr>
            <tr>
                <th>Monit</th>
                <td>{{ concept.monit }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('concept_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('concept_edit', { 'id': concept.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
