{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paramhtmlinputtypes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Monitoring</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paramHtmlInputType in paramHtmlInputTypes %}
            <tr>
                <td><a href="{{ path('param-html-input-type_show', { 'id': paramHtmlInputType.id }) }}">{{ paramHtmlInputType.id }}</a></td>
                <td>{{ paramHtmlInputType.monitoring }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('param-html-input-type_show', { 'id': paramHtmlInputType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('param-html-input-type_edit', { 'id': paramHtmlInputType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('param-html-input-type_new') }}">Create a new paramHtmlInputType</a>
        </li>
    </ul>
{% endblock %}
